

.about1 {
    padding: 50px 0;
}
.about1 .jumbotron {
    padding: 40px 25px;
}
.about1 .jumbotron h1{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.about1 .container {
    padding: 0 25px;
}
.about1 .container .row p {
    margin: 15px 0 30px 0;
}
.about1 .container .list {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.about1 .container .list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}
.about1 .container .list span {
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.about1 .container .row img{
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}
.about2 .container {
    padding: 30px 25px;
}
.about2 .container p{
    padding-top: 16px;
}