section {
    display: block;
}
.title {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.title h3{
    color: var(--title-color);
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
}
.title h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.title p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin: 16px auto; 
}
.bgcl {
    background-color: var(--light-bg-color);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.imgTST:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}
/* header */
.admin {
    color: var(--primary);
}
/* about A */
.aboutA .cwp4-text {
    align-self: center;
}
.aboutA .content .row h2{
    font-size: 36px;
    line-height: 44px;
    color: var(--title-color);
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 600;
}
.aboutA .content .row p {
    margin: 15px 0 30px 0;
}
.aboutA .content .list {
    list-style: none;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.aboutA .content .list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--title-color);
    margin: 15px 0;
    font-weight: 600;
}
.aboutA .content .list i {
    color: var(--primary);
    margin-right: 12px;
    background: rgba(220, 79, 114, 0.1);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
.aboutA .content .row img{
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}
 
/* about B */
.aboutB p{
    font-size: 16px;
    line-height: 24.5px;
    color: var(--text-color);
    margin-top: 16px;
}
.aboutB h3{
    font-size: 26px;
    line-height: 32px;
    color: var(--title-color);
    font-weight: 700;
}
/* features */
.features .content .thumb {
    background: #fff;
    border-radius: var(--card-curve);
    box-shadow: var(--card-box-shadow);
}
.features .thumb .content-card {
    width: 100%;
    height: 250px;
    margin: 0px 0;
    text-align: center;
    transition: all 0.3s ease;
    padding: 0 25px;
}
.features .content-card .icon {
    transform: translate(0, 60px);
    display: inline-block;
    margin-bottom: 68px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    transition: all 0.3s ease;
    border-radius: 100%;
    color: #fff;
    font-size: 26px;
    background-color: var(--primary);
}
.features .icon .service-icon {
    line-height: 70px;
}
.features .content-card .mission {
    transform: translate(0, 10px);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: var(--title-color);
}
.features .content-card:hover .icon {
    transform: translate(0, -35px);
}
.features .content-card:hover .mission {
    transform: translate(0, -90px);
}
.features .content-card .description {
    opacity: 0;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    margin: -6em auto 0;
    visibility: hidden;
}
.features .content-card:hover .description {
  visibility: visible;
  opacity: 1;
}
.features .content-card .description p {
    color: var(--title-color);
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.features .content-card .description a {
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    color: var(--primary);
}


/* solution */
.solution {
    background-color: #ffffff;
    padding: 30px 0;
}
.solution .content {
    max-width: 700px;
    margin: 0 auto;
}
.solution .content .media{
    position: relative !important;
}
.solution .media img{
    box-shadow: var(--card-box-shadow);
    border-radius: var(--card-curve);
    transition: 0.3s ease-in-out;
    max-width: 100%;
    height: auto;
}
.solution .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
}
.position-absolute {
    position: absolute !important;
}
.media a{
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}
.media span.video-play {
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
}
#playVideo {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}
#playVideo iframe {
    width: 100%;
    height: 400px;
    display: block;
}
iframe { border: none;}
.mfp-hide {
    display: none !important;
}
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
/* customers */
.customers .logo img{
    width: 100%;
    display: block;
    filter: grayscale(1);
    transition: 0.3s ease;
}
.customers .logo img:hover {
    filter: grayscale(0) contrast(100%);
}
/* team */
.team .team-info {
    transition: 0.3s ease-in-out;
}
.team .img-circle {
    width: 100%;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    
    background: #f3f6f9;
}
.team .img-circle a {
    display: block;
}
.team .img-circle a:hover {
    text-decoration: none;
}
.team .column a img {
    display: block;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}
.team .column-btm {
    padding: 16px;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    border-top: none;
    margin-top: -6px;
}
.team h3.name-pos a{
    font-size: 22px;
    line-height: 26px;
    color: var(--title-color);
    font-weight: 700;
}
.team .team-info:hover {
    transform: var(--transformY);
    transition: 0.3s ease-in-out;
}
.team .team-info:hover h3{
    color: var(--primary);
}
.team .team-info p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin: 2px 0px 14px;
}
.team .social a {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.team .social a.facebook {
    background: #3b5998;
    color: #ffffff;
}
.team .social a.twitter {
    background: #1da1f2;
    color: #ffffff;
}
/* customer */

.customers .logo-view img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.3s ease;
    padding: 1.5rem 2rem; }
  
  .customers .logo-view img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s ease; }
/* CTA */ 
.cta-section .title h3 {
  line-height: 1;
}