img.img-curve {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in-out;
}
img.img-curve:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}
/* BANNER */
.banner-section {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url(../assets/img/home/banner.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}
.banner-section .banner-text {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.banner-section .img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-180deg);
}
/* about A */
.aboutA .title h3{
  color: var(--title-color);
  font-size: 46px;
  line-height: 55px;
  font-weight: 800;
  text-align: center;
}
.aboutA .cwp4-text {
  align-self: center;
}
.aboutA .content .row h2{
  font-size: 36px;
  line-height: 44px;
  color: var(--title-color);
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 600;
}
.aboutA .content .row p {
  margin: 15px 0 30px 0;
}
.aboutA .content .list {
  list-style: none;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}
.aboutA .content .list li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin: 15px 0;
  font-weight: 600;
}
.aboutA .content .list i {
  color: var(--primary);
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.aboutA .content .row img{
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}
/* about B */
.aboutB p{
  font-size: 16px;
  line-height: 24.5px;
  color: var(--text-color);
  margin-top: 16px;
}
.aboutB h3{
  font-size: 26px;
  line-height: 32px;
  color: var(--title-color);
  font-weight: 700;
}
/* ABOUT SECTION */
.about-section {
  background-color: var(--light-bg-color);
}
.about-section .about-text-container .title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 4px;
}
.about-section .about-img-container .about-img {
  border-radius: var(--card-curve);
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  transition: all 0.3s ease-in-out;
}
.about-section .about-img-container .about-img:hover {
  transform: var(--transformY);
}
/* SERVICES */
.services-section .header-section h3 {
  font-weight: 800;
}
.services-section .services-section__content h5 {
  line-height: 30px;
  color: #999;
  font-weight: 400;
}
.services-section .services-section__content h3 {
  font-size: 42px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 30px;
}
.services-section .services-section__content .services-section__products {
  padding: 0 30px;
}
.services-section
  .services-section__content
  .services-section__products
  .body-1 {
  font-weight: 400;
}
.services-section .services-section__content .services-section__products .icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: var(--light-bg-color);
  text-align: center;
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  box-shadow: var(--card-box-shadow);
}
.services-section .services-section__content .services-section__products .icon {
  vertical-align: middle;
  border-style: none;
}
.services-section .services-section__content .services-section__products h4 a {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  line-height: 24.5px;
}
.services-section
  .services-section__content
  .services-section__products
  h4
  a:hover {
  color: var(--primary);
}
/* BEST PRODUCT */
.best-product-section .best-product-container {
  background-color: var(--light-bg-color);
}
.best-product-section .header-section {
  max-width: 750px;
  margin: 0 auto;
}
.best-product-section .header-section h3 {
  line-height: 1;
}
.best-product-section .header-section .title {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 700;
}
.best-product-section .content-section {
  align-items: center;
}
.best-product-section
  .content-section
  .content__right-grids
  .content__right-icon
  .content__icon
  span {
  font-size: 20px;
  color: var(--primary);
  background: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: var(--card-hover-box-shadow);
}
.best-product-section
  .content-section
  .content__right-grids
  .content__right-info
  a {
  font-size: 18px;
  color: var(--title-color);
  margin-bottom: 5px;
  display: inline-block;
  transition: all 0.3s ease-in 0s;
  font-weight: 800;
  text-transform: uppercase;
}
.best-product-section .content-section .content__text {
  font-weight: 400;
  color: var(--text-color);
}
/* EXPLORE SOLUTION */
.solutions .header-section {
  max-width: 750px;
  margin: 0 auto;
}
.solutions .header-section .title {
  text-transform: uppercase;
  color: var(--primary);
}
.solutions .body-section .body-grid {
  border-radius: var(--card-curve);
  transition: 0.3s ease-in;
  display: block;
  height: 100%;
  background: #fff;
  border: 1px solid #eee;
}
.solutions .body-section .body-grid:hover {
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
}
.solutions .body-section .body-grid .img__link {
  border-top-left-radius: var(--card-curve);
  border-top-right-radius: var(--card-curve);
  overflow: hidden;
  position: relative;
}
.solutions .body-section .body-grid .img__link .blog-img {
  width: 100%;
  display: block;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 0.3s ease-in-out;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.solutions .body-section .body-grid:hover .img__link .blog-img {
  overflow: hidden;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.3s ease-in-out;
}
.solutions .body-section .body-grid:hover a {
  color: var(--primary);
}
.solutions .body-section .body-grid .date {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
  padding-bottom: 0px;
  position: absolute;
  top: 0;
  background: var(--primary);
  padding: 15px;
  margin-bottom: 0;
  right: 0;
  margin-top: 0;
}
.solutions .body-section .body-grid .blog-content {
  background: #fff;
  padding: 30px 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.solutions .body-section .body-grid .blog-content .tag {
  padding: 5px 16px;
  display: inline-block;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.solutions .body-section .body-grid .blog-content .tag.primary-tag {
  background: rgba(238, 97, 120, 0.2);
  color: var(--primary);
}
.solutions .body-section .body-grid .blog-content .tag.success-tag {
  background: rgba(0, 128, 0, 0.2);
  color: #008000;
}
.solutions .body-section .body-grid .blog-content .tag.info-tag {
  background: rgba(0, 0, 255, 0.2);
  color: #0000ff;
}
.solutions .body-section .body-grid .blog-content .blog-content__heading a {
  font-size: 22px;
  line-height: 27px;
  display: block;
  font-weight: 600;
}

.solutions
  .body-section
  .body-grid:hover
  .blog-content
  .blog-content__heading
  a:hover {
  color: var(--primary);
}

.solutions .body-section .body-grid .blog-content .blog-content__text {
  margin-top: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.solutions .body-section .body-grid .blog-content .btn-more {
  padding: 0;
  color: var(--primary);
  transition: 0.3s ease-in-out;
  border-radius: 0;
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
}
.solutions .body-section .body-grid .blog-content .btn-more span {
  font-size: 60%;
  vertical-align: middle;
  padding-left: 0px;
  position: absolute;
  right: -13px;
  top: 7.5px;
  transition: 0.3s ease-in;
}
.solutions .body-section .body-grid .blog-content .btn-more:hover {
  transition: 0.3s ease-in-out;
  color: var(--primary);
}
.solutions .body-section .body-grid:hover .blog-content .btn-more span {
  right: -16px;
  transition: 0.3s ease-in;
}
/* FAQ */
.faq-section {
  background-color: var(--light-bg-color);
}
.faq-section .header-section {
  max-width: 750px;
  margin: 0 auto;
}
.faq-section .header-section .title {
  text-transform: uppercase;
  color: var(--primary);
}
.faq-section .body-content .faq-img {
  position: sticky;
  top: 80px;
}
.faq-section .body-content .faq-img img {
  border-radius: var(--card-curve);
}
.faq-section .faq-list-section .faq-list {
  list-style: none;
  padding: 0;
  max-width: 750px;
  margin: 0 auto;
}
.faq-section .faq-list-section .faq-list li {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: var(--card-curve);
  background: #fff;
  animation-delay: 0.5s;
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  padding: 0;
  overflow: visible;
}
.faq-section .faq-list-section .faq-list li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
  top: 16px;
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type="checkbox"] ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type="checkbox"] ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.faq-section .faq-list-section .faq-list li i::before,
.faq-section .faq-list-section .faq-list li i::after {
  content: "";
  position: absolute;
  background-color: #2c3038;
  width: 3px;
  height: 9px;
  transition: all 0.25s ease-in-out;
}
.faq-section .faq-list-section .faq-list li h6 {
  font-weight: 500;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}
.faq-section .faq-list-section .faq-list li p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  transition: all 0.25s ease-in-out;
}
/* prettier-ignore */
.faq-section .faq-list-section .faq-list li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
  transition: all 0.25s ease-in-out;
}

/* STATS SECTION */
.stats-section {
  background-color: var(--light-bg-color);
}
.stats-section .stats-container .stats-box {
  background-color: #fff;
  padding: 32px;
  border-radius: var(--card-curve);
  box-shadow: var(--card-box-shadow);
  transition: 0.3s ease;
  border: 1px solid #eee;
}
.stats-section .stats-container .stats-box:hover {
  box-shadow: var(--card-hover-box-shadow);
  transition: 0.3s ease;
}
.stats-section .stats-container .stats-box h6 {
  color: var(--title-color);
  font-weight: 700;
}
.stats-section .stats-container .stats-box .stats-number {
  font-size: 50px;
  line-height: 1;
  color: var(--primary);
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.stats-section .stats-container .stats-box p {
  margin-top: 0;
  margin-bottom: 0;
}
/* TRUST SECTION */
.trust-background {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.33)
    ),
    url("../assets/img/home/bg.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  align-items: center;
  padding: 32px 0;
}

.trust-background .trust__content-wrapper {
  max-width: 550px;
}
.trust-background .trust__content-wrapper .heading,
.trust-background .trust__content-wrapper p {
  color: var(--white);
}

.trust-background .trust__content-wrapper .theme-btn {
  border: var(--white);
  color: var(--text-color);
}

.trust-background .trust__content-wrapper .theme-btn:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
/* FEATURE CASE */

.feature-section .header-section {
  max-width: 750px;
  margin: 0 auto;
}
.feature-section .header-section .title {
  text-transform: uppercase;
  color: var(--primary);
}

.feature-section .feature__segmented-tab .tabs-list li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: calc(100% / 3);
  text-align: center;
  color: #4e5b61;
  background: #fff !important;
  border-bottom: 3px solid #eee;
}
.feature-section .feature__segmented-tab .tabs-list .tab-active {
  border-bottom: none;
  margin-bottom: -1px;
  border-bottom: 3px var(--primary) solid;
  color: var(--primary);
}
.feature-section .feature__segmented-tab .tabs-list .clear {
  clear: both;
}

.feature-section .feature__segmented-tab .tabs-content__container {
  margin-top: 20px;
  padding: 16px;
}

.feature-section
  .feature__segmented-tab
  .tabs-content__container
  .products-content {
  display: none;
}

.feature-section
  .feature__segmented-tab
  .tabs-content__container
  .products-content.products-content--active {
  display: block;
}
.feature-section
  .feature__segmented-tab
  .tabs-content__container
  .products-content
  h4 {
  font-size: 30px;
  line-height: 36px;
}
.feature-section
  .feature__segmented-tab
  .tabs-content__container
  .products-content
  div
  > img {
  display: block;
  border-radius: var(--card-curve);
  width: 100%;
  transition: 0.3s ease-in-out;
}
.feature-section
  .feature__segmented-tab
  .tabs-content__container
  .products-content
  div
  > img:hover {
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}
/* TESTIMONIALS */
.testimonials-section .testimonials-container {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(/src/assets/img/home/b2.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 0 15px;
  }
  .resp-arrow {
    margin-top: 3px;
  }
}
.testimonials-section .testimonials {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(247, 249, 252, 0.77),
      rgba(247, 249, 252, 0.77)
    ),
    url(../images/b2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.testimonials-section .slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: #fff;
  border-radius: var(--card-curve);
}
.testimonials-section .img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid var(--primary);
}
.testimonials-section .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.testimonials-section .message {
  position: relative;
}
.testimonials-section .message span {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}
.testimonials-section .message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}
.testimonials-section .name h4 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}
.testimonials-section .name p {
  font-size: 13px;
  color: var(--text-color);
}
@media (max-width: 992px) {
  .testimonials-section .message {
    margin-top: 1rem;
    padding-bottom: 0;
    padding: 0rem;
  }
}
@media (max-width: 900px) {
  .testimonials-section .slider-info {
    padding: 2rem;
  }
}
@media (max-width: 667px) {
  .testimonials-section .slider-info {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .testimonials-section .img-circle {
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-section .message {
    text-align: center;
  }
  .testimonials-section .message span {
    display: none;
  }
}
@media (max-width: 480px) {
  .testimonials-section .slider-info {
    grid-gap: 10px;
    padding: 2rem 1rem;
  }
}
.testimonials-section .owl-two.owl-theme .owl-nav [class*="owl-prev"],
.testimonials-section .owl-two.owl-theme .owl-nav [class*="owl-next"] {
  display: none;
}
.slider-info .message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}
.slider-info .message .name h6 {
  font-size: 18px;
  color: var(--primary);
  font-weight: 400;
}
.slider-info .name p.caption {
  font-size: 13px;
  color: var(--text-color);
}
.owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: #fff;
  display: block;
  border: none;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary);
}
/* contact */
.contacts-container .contact-form {
  background: #fff;
  padding: 2rem;
  border-radius: var(--card-curve);
  box-shadow: var(--card-hover-box-shadow);
  position: relative;
  left: -75px;
}

.contacts-container .contact-form .header-section {
  max-width: 750px;
  margin: 0 auto;
}

.contacts-container .contact-form .header-section p {
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 750px;
}
.contacts-container .contact-form .form-input > * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacts-container input.contact-input,
.contacts-container textarea {
  outline: none;
  padding: 15px 20px;
  -webkit-appearance: none;
  border-radius: 0;
  color: #000;
  font-weight: 600;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  border-radius: var(--card-curve);
  border: 1px solid #eee;
  background: var(--light-bg-color);
}

/* HELP */

.help-container {
  background-color: var(--light-bg-color);
}
.help-container .header-section {
  max-width: 750px;
  margin: 0 auto;
}

.help-container .header-section .title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.help-container .header-section p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--text-color);
  font-weight: 400;
}

.help-container .contact-help {
  grid-template-columns: 1fr;
}

.help-container .contact-help > * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.help-container .contact-help .contact-info-left {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.contact-info-left .contact-info {
  box-shadow: var(--card-box-shadow);
  padding: 2rem;
  background: #fff;
  border-radius: var(--card-curve);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.contact-info-left .contact-info:hover {
  box-shadow: var(--card-hover-box-shadow);
  transform: var(--transformY);
  transition: 0.3s ease-in-out;
}

.contact-info .icon {
  width: 60px;
  margin: 0 auto;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
  background: rgba(220, 79, 114, 0.1);
}

.contact-info .icon span {
  font-size: 20px;
  color: var(--primary);
  line-height: 60px;
}

.contact-info .contact-details h6 {
  font-size: 20px;
  color: var(--title-color);
  margin: 0px 0 10px 0;
  font-weight: 700;
}

.contact-info .contact-details p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 28px;
  font-weight: 600;
}

.contact-info .contact-details a {
  display: block;
  color: var(--text-color);
  transition: 0.3s ease-in;
}
.contact-info .contact-details a:hover {
  display: block;
  color: var(--primary);
  text-decoration: underline;
  transition: 0.3s ease-in;
}

/* MAP */
.map iframe {
  width: 100%;
  height: 400px;
  display: block;
}


















/* ------------------- */
.btn.btn-primary {
    width: unset;
}



.trust-background {
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.33)
      ),
      url("../assets/img/home/bg.jpeg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    align-items: center;
    padding: 32px 0;
  }



